rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function isOwner() { return signedIn() && request.auth.token.email == 'ramyraafat.rrh@gmail.com'; }

    match /games/{gameId} {
      allow read: if signedIn();
      allow write: if isOwner();
    }

    match /teams/{teamId} {
      allow read: if isOwner() || (signedIn() && request.auth.uid == teamId);
      allow create: if signedIn()
                    && request.auth.uid == teamId
                    && request.resource.data.ownerUid == request.auth.uid
                    && request.resource.data.name is string
                    && request.resource.data.name.size() >= 1
                    && request.resource.data.name.size() <= 30;
      allow update: if isOwner() || (
        signedIn() && request.auth.uid == teamId
        && request.resource.data.ownerUid == resource.data.ownerUid
        && request.resource.data.name == resource.data.name
        && request.resource.data.solved == resource.data.solved
      );
      allow delete: if isOwner();
    }
  }
}